html,body{
margin: 0;
padding: 0;
background-image: url(images/pc\ mine.jpg);
background-size: cover;

}
.navp {
    display: flex;
    justify-content: space-between;
    background-color:rgba(190, 186, 221, 0.23);
    
    height: 60px;


}

.navp ol{
display: flex;
list-style: none;

}
.navp a{
padding-left: 120px;
text-decoration: none;
color:bisque;
font-size: large;
font-style: italic;
}

.navp ol li:hover{
  background-color:white;
  border-radius: 30px;


}
h2{
margin-top: 100px;
margin-left: 800px;
font-style:oblique;
font-size: 50px;
font: bold;
color: rgba(0, 0, 0, 0.663);




}